<form>
  <h2>Wprowadź e-mail:</h2>
  <mat-form-field>
    <input matInput placeholder="user@mail.net">
  </mat-form-field>
  <h2>Wprowadź nazwę użytkownika:</h2>
  <mat-form-field>
    <input matInput placeholder="user">
  </mat-form-field>
  <h2>Wprowadź numer telefonu:</h2>
  <mat-form-field>
    <input matInput placeholder="123 456 789">
  </mat-form-field>
  <h2>Wprowadź hasło:</h2>
  <mat-form-field>
    <input matInput placeholder="*****">
  </mat-form-field>
  <mat-button-toggle>Zarejestruj</mat-button-toggle>
</form>
